[Unit]
Description=Notify on server reboot

[Service]
Type=oneshot
ExecStart=/bin/sh -c "/usr/bin/uptime | /usr/bin/mailx -s 'Server Reboot Notification' root"

